@charset "UTF-8";

button {
	outline: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#app {
    padding-bottom: 111px;
}

#wrap {
    width: 100%;
    min-width: 955px;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.section_info {
    height: 100%;
    padding: 0px 80px 40px;
    background-color: #fff;
}

.section_inner {
    max-width: 1600px;
    min-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.section_inner h2 {
    font-size: 26px;
}

.section_info .info_box {
    position: relative;
    margin-top: 25px;
    padding: 35px 50px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.info_email, .section_info .info_box .info_email {
    font-size: 25px;
    font-weight: 700;
}

.section_info .newlist_tab {
    margin-top: 37px;
}

.newlist_tab {
    overflow: hidden;
    position: relative;
    padding-right: 40px;
    height: 32px;
}

.newlist_tab ul {
    display: inline-block;
    margin-top: -10px!important;
    font-size: 0;
    vertical-align: top;
}

.newlist_tab li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 8px;
}



.btn_tab_normal {
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,.2);
    vertical-align: top;
    font-size: 16px;
    border: 0;
    font-size: 14px;
    border: 1px solid #ebebeb;
}

.btn_tab_normal.active {
    color: #fff;
    background-color: #FF8533;
    border-color: #FF8533;
}

.sort_type_wrap {
    position: absolute;
    top: 6px;
    right: 0;
    color: #333;
}

.sort_type_wrap button {
    padding-right: 15px;
    font-size: 13px;
}

.section_info .input_section {
    margin: 0 15px;
    padding-top: 27px;
}

.section_info .input_scetion li span,
.section_info .input_section li span {
    float: left;
    padding-top: 30px;
    padding-right: 20px;
}

.comp_inc_btn {
    position: relative;
    width: 440px;
}

.comp_inp_pw {
    height: 58px;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    color: #181818;
    padding-right: 75px;
    border-radius: 0;
}

.comp_inp_pw:valid {
    letter-spacing: 3px;
}
.comp_inc_btn input {
    width: 363px;
}

.comp_inc_btn .btn_area {
    position: absolute;
    right: 0;
    top: 15px;
    text-align: right;
}

.comp_inc_btn .btn_pw_del {
    background-image: url(../z00_imgs/sp_button.2c44e996.png);
    background-position: -595px -593px;
    width: 29px;
    height: 29px;
    color: transparent;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

.comp_inc_btn .btn_pw_show {
    background-image: url(../z00_imgs/sp_button.2c44e996.png);
    background-position: -643px -204px;
    width: 29px;
    height: 29px;
    color: transparent;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

.comp_inc_btn button[class^=btn_] {
    margin-left: 13px;
}

.txt_inp_error {
    padding-top: 6px;
    font-size: 13px;
    letter-spacing: -1px;
    color: #ff4d78;
}

.btn_bg_orange_s {
    min-width: 85px;
    height: 36px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
    background-color: #FF8533;
}
.btn_bg_orange_s:disabled {
    opacity: .2;
}
.section_info .input_section li span button.btn_bg_orange_s {
    margin-top: 11px;
}
.section_info .input_section li:after {
    display: block;
    clear: both;
    content: "";
}

/* 회원 탈퇴 팝업 */
.popup_container {
    z-index: 3001;
}
.popup_container, .popup_container:after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.popup_container:after {
    background: rgba(0,0,0,.6);
    content: "";
}
.popup_leave {
    width: 470px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    background: #fff;
    z-index: 2000;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    padding: 30px;
    transform: translate(-50%,-50%);
}
.popup_leave h3 {
    font-size: 18px;
    display: block;
    font-weight: bold;
}
.popup_leave .popup_content {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
}
.popup_main_text {
    padding-top: 30px;
    font-size: 15px;
}
.popup_content .popup_sub_text {
    padding-top: 5px;
    font-size: 13px;
    color: #989898;
}
.popup_sub_list {
    margin-top: 18px;
    padding-top: 21px;
    border-top: 1px solid #eee;
}
.popup_sub_list li {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 13px;
    color: #010101;
    line-height: 1.46;
    border-bottom: 0;
}
.popup_check_area {
	margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f3f3f3;
}
.inp_chk+label span {
	font-size: 14px;
}
.pop_button {
	margin: 40px 0 0 0;
    text-align: center;
}
.btn_leave {
	margin: 0 5px;
	min-width: 85px;
    height: 36px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
    background-color: #FF8533;
}
.btn_leave:disabled {
    opacity: .2;
}
.btn_close_popup {
    background-image: url(../z00_imgs/button_img.png);
    background-position: -330px -628px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -30px;
    right: 0;
}