.no-login-play-box{
    display:none;
    position: fixed;
    width:100%;
    bottom: 6.9em;
    z-index: 999;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.xlogin-playboxs:nth-child(1){
    flex: 2 1 0;
}
.xlogin-playboxs:nth-child(2){
    flex: 3 1 0;
}
.xlogin-playboxs:nth-child(3){
    flex: 2 1 0;
}
.xlogin-playboxadd-text{
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    z-index: 1;
}

.xlogin-playboxs-close{
    text-align: right;
    margin: 20px;
}
.xlogin-playboxadd-text2{
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    flex-direction: column;
}
.xlogin-playboxadd-text2 span{
    color: gray;
    font-size: 9pt;
}
.xlogin-playboxadd-text2 button{
    color: orange;
    background:none;
    border: none;
}
.xlogin-playboxadd-text2 button:focus{
    border: none;
    outline: none;
}